<%= form_with model: [ticket, comment] do |form| %>
  <div class="form__group">
    <%= form.label :body, "Comment", class: "form__label" %>
    <%= form.text_area :body, class: "input", rows: 3 %>
  </div>

  <div class="form__group">
    <%= form.check_box :internal, class: "input", style: "width: auto; display: inline;" %>
    <%= form.label :internal, "Internal note (not visible to customer)", class: "form__label", style: "display: inline;" %>
  </div>

  <div class="form__actions">
    <%= form.submit "Add Comment", class: "btn btn--primary" %>
  </div>
<% end %>
